body {
  width: 600px;
  margin: 0 auto;
  color: aliceblue;
  text-align: center;
  background: url(http://cdn.lowgif.com/full/9a28dc86a67e53b1-glitter-background-animated-gifs-photobucket.gif);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

.item-list li:nth-child(even) {
  background-color: rgb(44, 44, 70);
}

.item-list li:nth-child(odd) {
  background-color: rgb(60, 43, 77);
}

.updated-message {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: palevioletred;
}